@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zen+Kaku+Gothic+New:wght@400;500&display=swap');

body {
  background-color: #EAE9E9;
}

#wrap {
  position: relative;
  width: 1320px;
  height: 100vh;
  margin: 0 auto;
}
#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  background-color: #eae9e9;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  height: 50px;
  margin-bottom: 10px;
}
#header .inner {
  position: relative;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  display: table;
}

#top-logo {
  position: fixed;
  float: left;
  font-size: 40px;
  padding-bottom: 10px;
}
#top-logo a {
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  line-height: 50px;
  top: 0;
}


#top-nav {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 500;
  z-index: 500;
  position: relative;
  height: 50px;
  float: right;
}
#top-nav ul {
  float: left;
}
#top-nav ul li {
  position: relative;
  float: left;
  margin-left: 50px;
}
#top-nav ul.side_menu li {
  margin-left: 15px;
}
#top-nav ul li:first-child {
  margin-left: 0;
}
#top-nav a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 50px;
}

#top-nav a:hover {
  color: tomato;
}

#top-nav ul.center_menu {
  margin-right: 310px;
}
#top-nav ul.side_menu img {
  padding-top: 17px;
  padding-right: -50px;
  height: 18px;
}

.side_menu a:hover {
  color: tomato;
}

.sub-menu {
  position: absolute;
  border: 1px solid tomato;
  visibility: hidden;
  top: calc(100% - 3px);
  opacity: 0;
  transition: .3s;
}
.sub-menu li {
  width: 100%;
  margin: 0;
  background: #ededed;
  box-sizing: border-box;
  padding: 0 10px;
  min-width: 150px;
  transition: .3s;
}
.sub-menu li a {
  height: 40px;
  line-height: 40px;
}
.sub-menu li:hover {
  background-color: tomato;
}
.sub-menu li a:hover {
  color: #ededed;
}

main {
  min-height: calc(100vh - 50px + 80px + 51px);
}


/* 로그인 */
#login_wrap {
  max-width: 310px;
  min-width: 310px;
  margin: 0 auto;
  margin-top: 220px;
}

#login_wrap .title {
  position: relative;
  text-align: center;
  line-height: 50px;
  padding: 10px 0 0;
  margin-top: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333333;
}

#login_wrap .title h1 {
  display: inline-block;
  font-size: 25px;
  line-height: 1;
  color: #333333;
}

label + .txt {
  line-height: 21px;
}


#login_wrap .join {
  position: relative;
  text-align: center;
  line-height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#login_wrap .join p {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  color: #333333;
}

#login_wrap .join a:hover {
  color: #EB6445;
}


input {
  padding: 10px;
  display: inline-block;
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
}

input:focus {
  outline: none;
  border: 1px solid #f9f9f9;
}

/* input size type */
input.big {
  width: 478px;
}

input.middle {
  width: 280px;
}

input.small {
  width: 150px;
}

input.tiny {
  width: 100px;
}


/* button type */
button {
  background-color: transparent;
  background-image: none;
  border: none;
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

.gbtn {
  padding: 10px 15px;
}

.gbtn.normal {
  padding: 10px 15px;
  color: #ffffff;
  font-size: 15px;
  min-width: 150px;
  background-color: #221814;
}

.gbtn.normal:hover {
  background-color: #EB6445;
}

/* button color style */
.button-group {
  text-align: center;
  margin-top: 15px;
}

.table_a {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.table_a tr td {
  position: relative;
  border-left: 0;
  border-right: 0;
  padding-bottom: 15px;
  font-size: 14px;
}

.table_a tr td:nth-child(3) {
  padding-bottom: 100px;
}

.table_a td > * { margin: 0 auto;}

.table_a tr td:nth-child(1) {
  width: 100px;
  color: #333333;
  text-align: center;
}

.table_a tr td:nth-child(4) {
  padding-top: 60px;
}

.txt {
  display:inline-block;
  font-size: 14px;
  color: #717071;
  margin: 5px 0 0 5px;
}
