// ---변수처리---

// 사이즈 정의---
// $site width
$siteWidth: 1320px;

// text size
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

// title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

// 색상정의---
// background color
$layoutBg: #ededed;
$tableBarBg: rgba(28, 145, 126, .7);
$tableBarBgHover: rgba(28, 145, 126, 1);
$tableBg: #f5f5f5;
$imgHoverBg: #1c917d;

// //font style
// $fontStyleBasic:;
// $fontStylePrimary:;
// $fontStylePoint:;

// font color
$fontColorBasic: #333333;
$fontColorPrimary: #2e2e2e;
$fontColorHover: #1c917d;

// border color
$borderColorBasic: #f9f9f9;
$boderColorPrimary: #1c917d;

// button color
$gbtnColor: #ededed;
$gbtnColor2: #1c917d;
$gbtnColor3: #221814;
$gbtnColorHover: tomato;
$footerBtnColor: tomato;
