@charset "UTF-8";

.input_box_left input {
  width: 200px;
  margin-bottom: 10px;
  font-size: 14px;
}

.input_box_left input:nth-child(1) {
  margin-top: 55px;
}

.content_block .review .textarea_box {
  display: flex;
  justify-content: center;
}

.content_block .review .textarea_box {
  width: 828px!important;
  height: 300px;
  background-color: #f5f5f5;
}

.content_block .review .upload_box {
  width: 832px;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  margin-top: 5px;
}

.content_block .review .upload_box input {
  margin-left: 60px;
}

.info .info_block {
  margin-bottom: 15px!important;
}

.info .info_block input {
  width: 400px!important;
}

.info .info_block.small input {
  width: 120px!important;
}

.info .info_block.last {
  margin-top: 20px;
}

.info .info_block.last input {
  margin-left: 30px;
  width: 570px!important;
}

.info .info_block.last .first {
  width: 230px;
}

.artwork_info_wrap {
  padding-top: 10px;
}

/* side(right) -> hidden */
.side_block .a_list {
  border: none!important;
}

/* side(left) */
.input_box_left input:nth-child(1) {
  margin-top: 0;
}

/* artwork_upload title */
.content_block .review {
  float: left;
  margin-bottom: 60px;
}
.content_block .review input {
  width: 820px;
  text-align: center;
}

.content_block .review.artist_modify .textarea_box {
  width: 838px!important;
}

.content_block .review.artist_modify input {
  width: 828px;
}

.content_block .review.artist_modify textarea {
  line-height: 25px;
}
