@charset "UTF-8";
* { margin: 0; padding: 0;}
html,body { height: 100%; }
ul,ol { list-style: none; }
a {color: #666666; text-decoration: none;}

#carousel-wrap {
  position: relative;
  margin: 100px auto;
  width: 1300px;
  height: 220px;
  padding: 5px;
  /* background: pink; */
}

#carousel-prev, #carousel-next {
  position: absolute;
  cursor: pointer;
  top: 100px;
}

#carousel-prev {
  left: -8px;
}

#carousel-next {
  right: -8px;
}

#carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* #carousel-inner{
  width: 2480px;
} */

#carousel-inner ul.column {
  width: 1300px; /*605 + 15 == 620 */
  height: 200px;
  float: left;
  padding: 0 20px;
  /* overflow: hidden; */
}

#carousel-inner ul.column li {
  /* width: 200px; */
  float: left;
  padding-left: 40px;
  margin-right: 25px;
  display: inline-block;
}
