@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zen+Kaku+Gothic+New:wght@400;500&display=swap');

body {
  background-color: #EAE9E9;
}

#wrap {
  position: relative;
  width: 1320px;
  height: 100vh;
  margin: 0 auto;
}
#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  background-color: #eae9e9;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  height: 50px;
  margin-bottom: 10px;
}
#header .inner {
  position: relative;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  display: table;
}

#top-logo {
  position: fixed;
  float: left;
  font-size: 40px;
  padding-bottom: 10px;
}
#top-logo a {
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  line-height: 50px;
  top: 0;
}


#top-nav {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 500;
  z-index: 500;
  position: relative;
  height: 50px;
  float: right;
}
#top-nav ul {
  float: left;
}
#top-nav ul li {
  position: relative;
  float: left;
  margin-left: 50px;
}
#top-nav ul.side_menu li {
  margin-left: 15px;
}
#top-nav ul li:first-child {
  margin-left: 0;
}
#top-nav a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 50px;
}

#top-nav a:hover {
  color: tomato;
}

#top-nav ul.center_menu {
  margin-right: 250px;
}
#top-nav ul.side_menu img {
  padding-top: 17px;
  padding-right: -50px;
  height: 18px;
}

.side_menu a:hover {
  color: tomato;
}

.sub-menu {
  position: absolute;
  border: 1px solid tomato;
  visibility: hidden;
  top: calc(100% - 3px);
  opacity: 0;
  transition: .3s;
}
.sub-menu li {
  width: 100%;
  margin: 0;
  background: #ededed;
  box-sizing: border-box;
  padding: 0 10px;
  min-width: 150px;
  transition: .3s;
}
.sub-menu li a {
  height: 40px;
  line-height: 40px;
}
.sub-menu li:hover {
  background-color: tomato;
}
.sub-menu li a:hover {
  color: #ededed;
}

main {
  min-height: calc(100vh - 50px + 80px + 51px));
}


/* 스토리지보드 */
.board_wrapper {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-top: 80px;
  margin:0 auto;
}

.board_wrapper h3 {
  font-size: 22px;
  margin-top: 150px;
  margin-bottom: 15px;
}

.board_wrapper fieldset {
  margin-bottom: 25px;
}

.board_wrapper fieldset .field_inner {
  padding-top: 5px;
}

.board_wrapper table {
  margin-top: 10px;
  width: 100%;
  border-collapse: collapse;
}
.board_wrapper table tr td {
  border-bottom: 1px solid gray;
  padding: 10px;
}

.board_wrapper table tr {
  height: 30px;
  font-size: 15px;
}

.board_wrapper table tr:first-child {
  font-weight: bold;
}

.board_wrapper table tr td:nth-child(1) {
  width: 5%;
}

.board_wrapper table tr td:nth-child(2) {
  width: 15%;
}

.board_wrapper table tr td:nth-child(3) {
  width: 25%;
}

.board_wrapper table tr td:nth-child(4) {
  width: 12%;
}

.board_wrapper table tr td:nth-child(5) {
  width: 5%;
}
