//여기서 내용 작석 후 저장하고 style.scss도 저장해야 적용된다.

html,body {height: 100%;}
body {
  background: $layoutBg;
  color: $fontColorBasic;
}

html,body,p,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
}

li {list-style: none;}

a {
  text-decoration: none;
  color: $fontColorPrimary;
  transition: .5s;
  &:hover {
    // &는 this와 같다 -> &은 a를 가리킨다.
    color: $fontColorHover;
  }
}
