@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zen+Kaku+Gothic+New:wght@400;500&display=swap');

body {
  background-color: #EAE9E9;
}

#wrap {
  position: relative;
  width: 1320px;
  height: 100vh;
  margin: 0 auto;
}
#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  margin: 0 auto;
  background-color: #eae9e9;
  border-bottom: 1px solid #ededed;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
  height: 50px;
  margin-bottom: 10px;
}
#header .inner {
  position: relative;
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  display: table;
}

#top-logo {
  position: fixed;
  float: left;
  font-size: 40px;
  padding-bottom: 10px;
}
#top-logo a {
  font-family: 'Bebas Neue', cursive;
  font-weight: normal;
  line-height: 50px;
  top: 0;
}


#top-nav {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 500;
  z-index: 500;
  position: relative;
  height: 50px;
  float: right;
}
#top-nav ul {
  float: left;
}
#top-nav ul li {
  position: relative;
  float: left;
  margin-left: 50px;
}
#top-nav ul.side_menu li {
  margin-left: 15px;
}
#top-nav ul li:first-child {
  margin-left: 0;
}
#top-nav a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 50px;
}

#top-nav a:hover {
  color: tomato;
}

#top-nav ul.center_menu {
  margin-right: 260px;
}
#top-nav ul.side_menu img {
  padding-top: 17px;
  padding-right: -50px;
  height: 18px;
}

.side_menu a:hover {
  color: tomato;
}

.sub-menu {
  position: absolute;
  border: 1px solid tomato;
  visibility: hidden;
  top: calc(100% - 3px);
  opacity: 0;
  transition: .3s;
}
.sub-menu li {
  width: 100%;
  margin: 0;
  background: #ededed;
  box-sizing: border-box;
  padding: 0 10px;
  min-width: 150px;
  transition: .3s;
}
.sub-menu li a {
  height: 40px;
  line-height: 40px;
}
.sub-menu li:hover {
  background-color: tomato;
}
.sub-menu li a:hover {
  color: #ededed;
}

main {
  min-height: calc(100vh - 50px + 80px + 51px));
}


/* 해드라인 */
.headline.artworks {
  margin-top: 180px;
}

.headline.gallerys {
  margin-top: 90px;
}

.headline {
  border-bottom: 1px solid black;
  margin-bottom: 15px;
}
.headline p:nth-child(1) {
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  letter-spacing: 0.3px;
  line-height: 1px;
}
.headline p:nth-child(2) {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-size: 16px;
  line-height: 45px;
}

/* 작품섹션(슬라이드배너) */
#slidebanner {
  margin-top: 10px;
}

#carousel-wrap {
  position: relative;
  margin: 10px auto;
  width: 1280px;
  height: 220px;
  padding: 20px;
  background: white;
}

#carousel-prev, #carousel-next {
  position: absolute;
  cursor: pointer;
  top: 110px;
}

#carousel-prev {
  left: -21px;
}

#carousel-next {
  right: -20px;
}

#carousel {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#carousel-inner{
  width: 200px;
}

#carousel-inner ul.column {
  width: 1300px; /*605 + 15 == 620 */
  height: 200px;
  float: left;
  padding: 0 20px;
  /* overflow: hidden; */
}

#carousel-inner ul.column li {
  /* width: 200px; */
  float: left;
  /* padding-left: 55px; */
  margin-right: 55px;
  display: inline-block;
}


/* 갤러리섹션 */
#gallerys_wrap {
  width: 100%;
}
#gallerys_wrap .box {
  position: relative;
}
#gallerys_wrap .box .photobox {
  float: left;
  left: 0;
  margin-right: 15px;
  padding: 0 5px;
}
#gallerys_wrap .box .photobox:first-child {
  margin-left: 10px;
}
#gallerys_wrap .box .photobox:last-child {
  margin-right: 0;
}
#gallerys_wrap .box .photobox p:nth-child(2) {
  font-size: 16px;
  font-weight: bold;
}
#gallerys_wrap .box .photobox p:nth-child(3) {
  font-size: 14px;
  color: #9e9e9e;
}



/* footer {
  position: absolute;
  width: 100%;
  z-index: 4;
  background: #333333;
}

.footer-inner2 {
  padding: 20px 11%;
  position: relative;
}

.footer-inner2 h2 {
  font-family: 'Bebas Neue', cursive;
  font-weight:100;
  color: #eae9e9;
  font-size: 40px;
}

.footer-inner2 .site-info {
  margin-top: 15px;
  font-size: 13px;
  font-weight: 100;
  color: #fff;
  opacity: .65;
  line-height: 21px;
}

.footer-inner2 .site-info a {
  font-size: 13px;
  font-weight: 100;
  color: #fff;
  opacity: 1;
}

.footer-inner2 .site-rvcenter {
  margin-top: 18px;
  font-size: 13px;
  font-weight: 100;
  color:#eae9e9;
  .opacity: .65;
  line-height: 21px;
}

.footer-inner2 .site-rvcenter div a {
  font-size: 13px;
  font-weight: 100;
  color: #fff;
  .opacity: .65;
  line-height: 21px;
}

.footer-inner2 .site-copy {
  margin-top: 18px;
  font-size: 16px;
  font-weight: 100;
  color: #fff;
  opacity: .65;
}

.site-right {
  position: absolute;
  top: 107px;
  line-height: 21px;
  font-size: 13px;
  font-weight: 100;
  color: #fff;
  opacity: .65;
  margin-left: 1200px;
}

.right-menu span:nth-child(odd) {
  width: 145px;
  display: inline-block;
}

.right-info {
  margin-top: 18px;
  line-height: 1.75;
}

.right-info .b {
  font-size: 18px;
  font-weight: 500;
}

.enterCheck {
  border-bottom: 1px solid white;
} */
