@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zen+Kaku+Gothic+New:wght@400;500&display=swap');

/*보관신청*/
#storage_service_wrap {
  max-width: 360px;
  min-width: 360px;
  margin: 0 auto;
  margin-top: 155px;
}

#storage_service_wrap .title {
  position: relative;
  text-align: center;
  line-height: 50px;
  padding: 10px 0 0;
  margin-top: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333333;
}

#storage_service_wrap .title h1 {
  display: inline-block;
  font-size: 25px;
  line-height: 1;
  color: #333333;
}

label + .txt {
  line-height: 21px;
}


#storage_service_wrap .join {
  position: relative;
  text-align: center;
  line-height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#storage_service_wrap .join p {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  color: #333333;
}

#storage_service_wrap .join a:hover {
  color: #EB6445;
}

select {
  width: 350px;
  padding: 10px;
  border-style: hidden;
  color: gray;
  background-color: #f9f9f9;
}
.date_td input{
  width: 330px;
  color: gray;
}
.date_td input:nth-child(1) {
  margin-bottom: 15px;
}
.date_td p {
  position: absolute;
  right: 42px;
  color: gray;
}
.date_td p:nth-child(1) {
  top: 13px;
}
.date_td p:nth-child(2) {
  top: 52px;
}

input {
  padding: 10px;
  display: inline-block;
  border: 1px solid #f9f9f9;
  background-color: #f9f9f9;
}

input:focus {
  outline: none;
  border: 1px solid #f9f9f9;
}

/* input size type */
input.big {
  width: 330px;
}

input.middle {
  width: 280px;
}

input.small {
  width: 150px;
}

input.tiny {
  width: 100px;
}


/* button type */
button {
  background-color: transparent;
  background-image: none;
  border: none;
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

.gbtn {
  padding: 10px 15px;
}

.gbtn.normal {
  padding: 10px 15px;
  color: #ffffff;
  font-size: 15px;
  min-width: 172px;
  background-color: #221814;
}

.gbtn.normal:hover {
  background-color: #EB6445;
}

/* button color style */
.button-group {
  text-align: center;
  margin-top: 15px;
  width: 100%;
}

.table_a {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.table_a tr td {
  position: relative;
  border-left: 0;
  border-right: 0;
  padding-bottom: 15px;
  font-size: 14px;
}

.table_a tr td:nth-child(3) {
  padding-bottom: 100px;
}

.table_a td > * { margin: 0 auto;}

.table_a tr td:nth-child(1) {
  width: 100px;
  color: #333333;
  text-align: center;
}

.table_a tr td:nth-child(4) {
  padding-top: 60px;
}

.txt {
  display:inline-block;
  font-size: 14px;
  color: #717071;
  margin: 5px 0 0 5px;
}